html {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background: #004D40;
;
	color: #ffffff;
}

img {
	height: 10%;
	width: 5%;
}

.heading{
	font-size: 5em;
}

.city{
	font-family: cursive;
	font-size: 2em;
}
button{
	border: none;
	color: #00ACC1;
	background: none;
}